*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(nimbus1.JPEG);


}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    color: #fff;
    backdrop-filter: blur(20px);


}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav ul li a {
    color: rgb(15, 13, 13);
    text-decoration: none;
}



.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-content{

    background: rgba(73, 28, 28, 0.6);
    padding: 20px;
    border-radius: 10px;
}
.hero h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 30px;
    background: transparent;
    color: #fff;
    margin-top: 600px;
    backdrop-filter: blur(20px);
    
}
.footer-content {
    display: flex;                   
    justify-content: space-between;  
    align-items: center;             
    max-width: 1200px;               
    margin: 0 auto;                  
  }
  
  /* Social Media Icons Styling */
  .social-media a {
    margin: 0 10px;                  
  }
  
  .social-icon {
    width: 30px;                     /* Size of the social media icons */
    height: 30px;
    transition: transform 0.3s ease;  /* Smooth transition on hover */
  }
  
  .social-icon:hover {
    transform: scale(1.1);           /* Slightly increase size on hover */
  }
  
 
  .contact-info p {
    margin: 5px 0;                   
  }
  